extends ../layout

block content
  a(href='/blog') 
    span(class='glyphicon glyphicon-hand-left')
    |&nbsp;Back to the List
  br
  br
  form(action='/blog/#{article.id}/edit', method='POST', style='display: inline')
    input(type='hidden', name='id', value=article.id)
    div(class='form-group')
      label(for='title') Title: 
      input(type='text', name='title', class='form-control', value=article.title)
    div(class='form-group')
      label(for='title') Subject: 
      input(type='text', name='sub', class='form-control', value=article.sub)
    div(class='form-group')
      label(for='body') Content:
      textarea(name='body', id='body')=article.body
    div(class='form-group')
      label(for='tags') Tags: 
      input(type='text', name='tags', class='form-control', value=article.tags)
    div(class='form-group')
      label(for='cover') Cover Image: 
      input(type='text', name='cover', class='form-control', value=article.cover)
    button(type='submit', class='btn btn-success') Save
  form(class='form-inline', id='deleteForm', style='display: inline' action='/blog/#{article.id}/delete', method='POST', onsubmit='return window.confirm("Are you sure?");') 
    button(type='submit', form='deleteForm', class='btn btn-danger') Delete

append scripts
  script.
    // enable highlight.js
    hljs.initHighlightingOnLoad();
    CKEDITOR.inline( 'body' );
    
