extends ../layout

block content
  -if (isAdmin) 
    a(href='/blog/add')
      span(class='glyphicon glyphicon-pencil')
      |&nbsp;Write a New Masterpiece
  br
  for article in articles
    article
      .post-preview
        a(href='/blog/#{article.id}/show')
          h2.post-title #{article.title}
          h3.post-subtitle #{article.sub}
        
        p.post-meta
          |Posted by&nbsp;
          a(href='/about') #{article.user}
          &nbsp;#{moment(article.created).calendar()}
          &nbsp;
          span(class='post-meta-stats')
            span(class='glyphicon glyphicon-heart')
            &nbsp#{article.meta.likes}
            &nbsp;
            span(class='glyphicon glyphicon-envelope')
            span.disqus-comment-count(data-disqus-identifier='#{article.id}')
          -if(isAdmin)
            a(href='/blog/#{article.id}/edit', class='pull-right post-edit-link') 
              span(class='glyphicon glyphicon-pencil')
              |&nbsp;rewrite
          br
          -if(article.draft)
            span(class='label label-danger') draft 
            &nbsp;
          for tag in article.tags
            span(class='label label-info') #{tag} 
            &nbsp;
      hr

  // Pager
  ul.pager
    li.next
      a(href='#') Older Posts &rarr;

append scripts
  script.
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'grievoushead';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  

  
