extends ../layout

block header
  header.intro-header(style="background-image: url('#{article.cover || '/img/home-bg.jpg'}')")
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .post-heading
            h1 #{article.title}
            h2.subheading #{article.sub}
            |           
            span.meta
              | Posted by 
              a(href='/about') #{article.user}
              |  #{moment(article.created).calendar()}

block content
  a(href='/blog') 
    span(class='glyphicon glyphicon-hand-left')
    |&nbsp;Back to the List
  br
  br
  article!=article.body
  
  div(id="disqus_thread")
  
  
append scripts
  script.
    // enable highlight.js
    hljs.initHighlightingOnLoad();
    
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'grievoushead';
    var disqus_identifier = '#{article.slug}';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

noscript 
  | Please enable JavaScript to view the 
  a(href="https://disqus.com/?ref_noscript", rel="nofollow") comments powered by Disqus.
      
