extends ../layout

block header
  header.intro-header(style="background-image: url('#{article.cover}')")
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .post-heading
            h1 #{article.title}
            h2.subheading #{article.sub}
            |           
            span.meta
              | Posted by 
              a(href='/about') #{article.user}
              |  #{moment(article.created).calendar()}

block content
  a(href='/blog') 
    span(class='glyphicon glyphicon-hand-left')
    |&nbsp;Back to the List
  br
  br
  article!=article.body
  
append scripts
  script.
    // enable highlight.js
    hljs.initHighlightingOnLoad();
      
