extends ../layout

block content
  a(href='/blog') back
  article
  h3=article.title 
  p=article.body
  small
    time(datetime=article.date)=article.date
      &nbsp; 
      span=article.author
      br
      a(href='/blog/#{article.id}/edit') edit
