extends ../layout

block content
  .col-lg-offset-3.col-lg-6
    a(href='/auth/login') 
      span(class='glyphicon glyphicon-hand-left')
      |&nbsp;Back to Login
    br
    h1 Welcome
    br
    form(action='/auth/register', method='POST')
      div(class='form-group')
        label(for='username') Username: 
        input(type='text', name='name', class='form-control', value=login.name)
      div(class='form-group')
        label(for='password') Password:
        input(type='password', name='password', class='form-control', value=login.password)
      div(class='form-group')
        label(for='repassword') Repeat Password:
        input(type='password', name='repassword', class='form-control', value=login.repassword)
      div(class='form-group')
        label(for='email') Email:
        input(type='email', name='email', class='form-control', value=login.email)
      button(type='submit',class='btn btn-success') Register
    for error in errors
      p.text-danger #{error}
      br
